footer{
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color: white;
        white-space: nowrap;
    }
}
