.info{
    background-color: rgb(31, 31, 31);
    .inner{
        width: 90%;
        color: white;
        padding-bottom: 30px;
        .ttl{
            border-bottom: 1px solid white;
        }
    }
}

.Gain p{
    
    margin: 30px 30px 30px 0;
}