.first-v-wrap {
    width: 100%;
    display: flex;
    @include tab{
        display: none;
    }
    .first-v-title{
        width: 45%;
        margin-top: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tab{
            display: none;
        }
        .first-v-text{
            font-size: 38px;
            font-family: 'Hiragino Mincho Pro', serif;
            letter-spacing: 3.8px;
        }
        .first-v-text2{
            font-size: 38px;
            margin-top: 48px;
            text-align: center;
            font-family: "Zapfino";
            letter-spacing: 3.8px;
            }
        }
    }

.first-v-img{
    background-image: url("../img/component1.png");
    width: 55%;
    height: 100vh;
    background-size: cover;
    @include tab{
        width: 100%;
    }
}

.first-v-wrap-sp{
    display: none;
    @include tab{
        display: flex;
        background-image: url("../img-sp/sp1.png");
        height: 100vh;
        background-size: cover;
        object-position: 50px 50px;
        .first-v-title{
            margin-top: 450px;
            width: 100%;
            text-align: center;
            color: white;
            text-shadow: #000000 0px 3px 16px;
            @include sp{
                margin-top: 200px;
            }
        }
        .first-v-text3{
            font-size: 2.8rem;
            font-family: "Zapfino";
            letter-spacing: 2.8px;
            margin-top: 50px;
        }
        .first-v-text2{
            font-size: 2.3rem;
            font-family: 'Noto Serif JP', serif;
            letter-spacing: 2.3px;
        }
    }
}

























