.menu{
    .inner{
        width: 90%;
        @include tab{
            width: 85%;
        }
        @include sp{
            width: 90%;
        }
    }
}

.space{
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include tab{
        flex-direction: column;
    }
    .menu-item{
        margin-top: 11px;
        width: 271px;
        @include tab{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 30px;
        }
        @include sp{
            display: block;
            margin-top: 0px;
        }
    }
}

.menu-content{
    margin: 0 6px 0 15px;
    @include tab{
        width: 350px;
        margin: 0 0 0 10px;
    }
    @include sp{
        width: auto;
        margin: 0 6px 0 15px;
    }
}

.menu-item-title{
    font-size: 3rem;
    margin: 37px 0 34px 0;
    text-align: center;
    letter-spacing: 3px;
    @include tab{
        margin: 0 0 34px 0;
    }
    @include sp{
        margin: 37px 0 34px 0;
        height: 30px;
        display: flex;
        align-items: center;
    }
}

.menu-item-money{
    margin-top: 34px;
    text-align: right;
    @include sp{
        margin: 26px 0 13px 0;
    }
}

.menu-item .img{
        @include sp{
        width: 100%;
        }
}

.menu-item-img{
    
    &1{
    background-image: url(../img/component4.png);
        height: $img-height;
        width: $img-width;
        background-size: $img-bgs;
        @include sp{
            background-image: url(../img-sp/sp4.png);
            width: $img-inc-w;
            margin-top: $img-margin-top;
        }
    }
    &2{
    background-image: url(../img/component5.png);
        height: $img-height;
        width: $img-width;
        background-size: $img-bgs;
        @include sp{
            background-image: url(../img-sp/sp5.png);
            width: $img-inc-w;
            margin-top: $img-margin-top;
        }
    }
    &3{
    background-image: url(../img-sp/sp6.png);
        height: $img-height;
        width: $img-width;
        background-size: $img-bgs;
        @include sp{
            width: $img-inc-w;
            margin-top: $img-margin-top;
        }
    }

}





















