.reserve{
    .inner{
        position: relative;
        padding: 164px 0 60px 0;
        @include tab{
            padding: 63px 0 19px 0;
            width: 90%;
            
        }
    }
    &-button{
        padding: 10px 41px 9px;
        width: 184px;
        height: 37px;
        font-size: 1.8rem;
        color: #707070;
        background-color: #fff;
        border: 1px solid #707070;
        cursor: pointer;
        letter-spacing: 1.8px;
        @include tab{
            display: none;
        }
    }
}

.reserve-button-sp{
    display: none;
    @include tab{
        display: block;
        padding: 10px 41px 9px;
        width: 184px;
        height: 37px;
        font-size: 1.8rem;
        color: #707070;
        background-color: #fff;
        border: 1px solid #707070;
        cursor: pointer;
        letter-spacing: 1.8px;
        margin: 0 auto;
        margin-top: 60px;
    }
}

.line{
    display: block;
    width: 100%;
    border-top: 1px solid #70707036;

    @include sp{
        
    }
}

.reserve-box{
    height: 37px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    @include tab{
        height: 19px;
        margin: 0 auto;
        margin-top: 61px;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        
    }
}

.reserve-left{
    display: flex;
    align-items: center;
    @include tab{
        width: 100%;
        justify-content: space-between;
    }
    .title{
        font-size: 3.2rem;
        font-family: "Roboto Mono for Powerline";
        color: #7070704D;
        
            @include tab{
            font-size: 18px;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .icon{
        display: flex;
        font-size: 22px;
        margin-left: 26px;
        @include tab{
            margin-left: 0;
        }
        .fa-facebook-square{
            margin-left: 9px;
        }
        
    }
}

.reserve-left{
    .title{
        letter-spacing: 3.2px;
        @include tab{
            letter-spacing: 1.8px;
        }
    }
}










